*{
    margin: 0;
    padding: 0%;
box-sizing: border-box;
}

a{
    text-decoration: none;

}
ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: none;
    font-weight: bold;
}
body , html{
    overflow-x: hidden;
}
/*Navbar*/
.navbar{
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
justify-content: space-between;
padding: 20px;
color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
}